<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2><strong> 
                <img alt="image" width="40" height="30" src="img/Creare.jpg"/> Sube Tus Diseños   </strong></h2>
        <ol class="breadcrumb">
            
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href="#" class="btn btn-primary">Log Out</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
                <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Anexo Diseño 1 </h5>
            
                                <div ibox-tools></div>
                            </div>
                            <div class="ibox-content">
                                <form action="#" class="dropzone dz-clickable" dropzone="" id="dropzone">
                                    <div class="dz-default dz-message"><span><strong>Drop files here or click to upload. </strong><br> (This is just a demo dropzone. Selected files are not actually uploaded.)</span></div>
                                    </form>
                                <div class="m text-right">
                                    <small>DropzoneJS is an open source library that provides drag'n'drop file uploads with image previews: <a href="https://github.com/enyo/dropzone" target="_blank">https://github.com/enyo/dropzone</a>
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
             
                  
                              
        </div>
    </div>
</div>