<div class="loginColumns animated fadeInDown">
    <div class="row">
<!-- Imagen Promocion de Concurso-->
            <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 hidden-xs hidden-sm text-right">
                    <div>
                            <h1><i class="fa-fw fa-plus-circle "></i> <b>Gracias Por Registrate</b></h1>
                        <img  width="750" height="425" src="img/mmoda.jpg" alt="Logo SDES"/>
                        <hr></h>
                      
                    </div>
                </div>
<!-- -->        
<!-- Formulario Login -->      
        <div class="col-md-6">
          
        </div>
    </div>

<!-- -->

<!--Pie de pagina  -->
    <hr/>
    <div class="row">
        <div class="col-md-6">
            Copyright © Secretaria De Economia
        </div>
        <div class="col-md-6 text-right">
            <small>© 2018</small>
        </div>
    </div>
<!-- -->
</div>